header {
  height: .88rem;
  background: #0369db;
  position: relative;
  text-align: center;
  min-height: 50px!important;
}
header .sgq_menu {
  margin-top: .29rem;
  float: left;
  width: .42rem;
  height: .30rem;
  background-repeat: no-repeat;
  background-size: .42rem .3rem;
  margin-left: .24rem;
}
header .sgq_logo {
  display: inline-block;
  margin-top: .22rem;
}
header .sgq_logo a {
  display: block;
  width: 100%;
  height: 100%;
}
header .sgq_logo a > span {
  display: inline-block;
  width: .60rem;
  height: .52rem;
  color: #fff;
  font-size: .5rem;
  vertical-align: middle;
}
header .sgq_logo p {
  display: inline-block;
  margin-top: -0.04rem;
  vertical-align: middle;
}
header .sgq_logo p b {
  font-size: .26rem;
  color: #fff;
  display: block;
}
header .sgq_logo p span {
  font-size: .14rem;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}
header .sgq_logo p i {
  width: .02rem;
  height: .02rem;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
}
header .sgq_tel {
  margin-top: .24rem;
  float: right;
  width: .4rem;
  height: .4rem;
  background-repeat: no-repeat;
  background-size: .4rem .4rem;
  margin-right: .24rem;
}
nav {
  padding: 0 0.24rem;
  text-align: justify;
  line-height: .88rem;
  height: .88rem;
  box-shadow: 0 1px 3px #c3c3c3;
  position: relative;
  z-index: 1;
}
nav a {
  display: inline-block;
  box-sizing: border-box;
  height: .88rem;
}
nav:after {
  content: "";
  display: inline-block;
  width: 100%;
}
nav .hot {
  border-bottom: 2px solid #0369db;
}
.sgq_content {
  padding-left: .24rem;
  padding-right: .24rem;
  margin-top: .42rem;
}
.sgq_content .sgq_con_head {
  font-size: .36rem;
  color: #222;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px dashed #636363;
}
.sgq_content .sgq_con_head p {
  font-size: .22rem;
  color: #666;
  margin-top: .26rem;
  margin-bottom: .12rem;
}
.sgq_content .sgq_con_head p span {
  margin-right: .5rem;
}
.sgq_content .sgq_con_head p:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #fd7b35;
  vertical-align: middle;
  margin-right: .1rem;
  border-radius: 50%;
  margin-left: 2px;
}
.sgq_content .sgq_con {
  margin-top: .3rem;
  margin-bottom: .43rem;
}
.sgq_content .sgq_con_zan {
  height: .78rem;
  text-align: center;
  font-size: .24rem;
  color: #333;
}
.sgq_content .sgq_con_zan span {
  display: inline-block;
  vertical-align: middle;
  width: .78rem;
  height: .78rem;
  background: url("../images/zan.png") no-repeat;
  background-size: .78rem .78rem;
  margin-right: .3rem;
}
.sgq_content .sgq_con_zan b {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  margin-left: .3rem;
}
.sgq_content .sgq_con_fenxiang {
  font-size: .24rem;
  color: #555555;
  margin-top: .3rem;
  border-bottom: 1px dashed #a0a0a0;
  padding-bottom: .15rem;
}
.sgq_content .sgq_con_fenxiang span {
  display: inline-block;
  vertical-align: middle;
  width: .58rem;
  height: .58rem;
  margin-right: .26rem;
  background-size: .58rem .58rem;
  background-repeat: no-repeat;
}
.sgq_content .sgq_con_fenxiang span:nth-child(1) {
  background-image: url("../images/qqkj.png");
  margin-left: .4rem;
}
.sgq_content .sgq_con_fenxiang span:nth-child(2) {
  background-image: url("../images/xl.png");
}
.sgq_content .sgq_con_fenxiang span:nth-child(3) {
  background-image: url("../images/wb.png");
}
.sgq_content .sgq_con_fenxiang span:nth-child(4) {
  background-image: url("../images/weixin.png");
  margin-right: 0;
}
.sgq_content .sgq_con_link {
  font-size: .24rem;
  color: #555;
}
.sgq_content .sgq_con_link p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sgq_content .sgq_con_link p a {
  color: #0d4f9e;
}
.sgq_content .sgq_con_link p:first-child {
  margin-top: .3rem;
}
.sgq_content .sgq_con_link p:last-child {
  margin-top: .2rem;
}
.sgq_tuijian {
  padding-left: .24rem;
  padding-right: .24rem;
  margin-top: .55rem;
}
.sgq_tuijian .sgq_tuijian_head {
  border-bottom: 1px solid #cbcbcb;
  height: .7rem;
  box-sizing: border-box;
}
.sgq_tuijian .sgq_tuijian_head span {
  display: inline-block;
  height: .7rem;
  line-height: .70rem;
  font-size: .28rem;
  color: #0369db;
  border-bottom: 2px solid #0369db;
  box-sizing: border-box;
}
.sgq_tuijian ul {
  padding-top: .23rem;
}
.sgq_tuijian ul li a {
  font-size: .24rem;
  color: #555;
  line-height: .38rem;
  padding-left: .08rem;
}
.sgq_tuijian ul li:before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background: #fd7b35;
  vertical-align: middle;
  margin-right: .1rem;
  border-radius: 50%;
  margin-left: 2px;
}
.sgq_backTop {
  background: #dcdcdc;
  text-align: center;
  height: .72rem;
  font-size: .24rem;
  color: #fff;
  line-height: .72rem;
  margin-top: .62rem;
}
.sgq_backTop span {
  display: inline-block;
  width: .2rem;
  height: .21rem;
  vertical-align: middle;
  background: url("../images/back.jpg") no-repeat;
  background-size: .2rem .21rem;
  margin-right: .1rem;
}
.sgq_footer {
  height: 4.17rem;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  margin-top: .30rem;
  position: relative;
}
.sgq_footer .sgq_footer_con {
  height: 2.34rem;
  width: 6.22rem;
  margin: 0 auto;
  border: 1px solid #bfbfbf;
  border-radius: .16rem;
  text-align: center;
  line-height: 2.34rem;
  margin-bottom: .21rem;
}
.sgq_footer .sgq_footer_con img:first-child {
  width: 1.88rem;
  height: 1.86rem;
  vertical-align: middle;
}
.sgq_footer .sgq_footer_con img:last-child {
  width: 1.76rem;
  height: 1.77rem;
  vertical-align: middle;
}
.sgq_footer .sgq_footer_con span {
  display: inline-block;
  vertical-align: middle;
  height: 1.85rem;
  width: 1px;
  background: linear-gradient(to bottom, transparent, #626262, transparent);
  margin: 0 .53rem;
}
.sgq_footer .sgq_footer_copy {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  padding-bottom: .2rem;
  font-size: .18rem;
}
.sgq_footer .sgq_footer_copy p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}
.sgq_public_header {
  text-align: center;
  margin-bottom: .54rem;
}
.sgq_public_header h2 {
  font-size: .36rem;
  color: #222;
  line-height: .48rem;
  padding-top: .52rem;
}
.sgq_public_header p {
  font-size: .24rem;
  color: #2a2a2a;
  line-height: .46rem;
}
.sgq_public_header div {
  display: inline-block;
  width: .2rem;
  height: 1px;
  background: #0369db;
  margin-top: .15rem;
}
.sgq_public_item {
  width: 7.02rem;
  margin: 0 auto;
  height: .52rem;
  border-bottom: 1px solid #b5b5b5;
  margin-bottom: .44rem;
}
.sgq_public_item ul {
  height: .52rem;
}
.sgq_public_item ul li {
  line-height: .52rem;
  border-bottom: 2px solid transparent;
  text-align: center;
  float: left;
  margin-right: .56rem;
  font-size: .24rem;
  color: #404040;
}
.sgq_public_item ul .sgq_public_info.hot {
  border-bottom: 2px solid #fe6e20;
}
.sgq_public_item ul li:last-child {
  margin-right: 0;
}
.sgq_public_item ul .hot {
  border-color: #0369db;
  font-weight: bold;
  color: #0369db;
}
.sgq_public_item ul a {
  color: #fe6e20;
}
.sgq_public_item > a {
  float: right;
  font-size: .22rem;
  color: #777;
  margin-top: .1rem ;
  margin-right: .4rem;
}
.sgq_public_item > div {
  float: left;
}
.sgq_public_more {
  margin: 0 auto;
  width: 3.35rem;
  height: .65rem;
  background: #fe6e20;
  border-radius: .15rem;
  line-height: .65rem;
  font-size: .24rem;
}
.sgq_public_more a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
}
