header {
  height: .88rem;
  background: #0369db;
  position: relative;
  text-align: center;
  min-height: 50px!important;
}
header .sgq_menu {
  margin-top: .29rem;
  float: left;
  width: .42rem;
  height: .30rem;
  background-repeat: no-repeat;
  background-size: .42rem .3rem;
  margin-left: .24rem;
}
header .sgq_logo {
  display: inline-block;
  margin-top: .22rem;
}
header .sgq_logo a {
  display: block;
  width: 100%;
  height: 100%;
}
header .sgq_logo a > span {
  display: inline-block;
  width: .60rem;
  height: .52rem;
  color: #fff;
  font-size: .5rem;
  vertical-align: middle;
}
header .sgq_logo p {
  display: inline-block;
  margin-top: -0.04rem;
  vertical-align: middle;
}
header .sgq_logo p b {
  font-size: .26rem;
  color: #fff;
}
header .sgq_logo p span {
  font-size: .14rem;
  color: #fff;
  float: left;
  margin-right: .09rem;
}
header .sgq_logo p i {
  width: .02rem;
  height: .02rem;
  background: #fff;
  float: left;
  margin-right: .09rem;
  margin-top: .1rem;
}
header .sgq_tel {
  margin-top: .24rem;
  float: right;
  width: .4rem;
  height: .4rem;
  background-repeat: no-repeat;
  background-size: .4rem .4rem;
  margin-right: .24rem;
}
nav {
  padding: 0 0.24rem;
  text-align: justify;
  line-height: .88rem;
  height: .88rem;
}
nav a {
  display: inline-block;
  box-sizing: border-box;
  height: .88rem;
}
nav:after {
  content: "";
  display: inline-block;
  width: 100%;
}
nav .hot {
  border-bottom: 2px solid #0369db;
}
.sgq_banner {
  height: 4.7rem;
  background: #444;
  position: relative;
}
.sgq_banner .sgq_banner_info {
  width: 7.02rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #989898;
  height: .7rem;
  padding: 0 .24rem;
  line-height: .7rem;
}
.sgq_banner .sgq_banner_info .sgq_banner_toutiao {
  float: left;
  color: #fff;
}
.sgq_banner .sgq_banner_info .sgq_banner_toutiao .sgq_banner_laba {
  display: inline-block;
  width: .36rem;
  height: .28rem;
  color: #fff;
  font-size: .28rem;
  vertical-align: middle;
  line-height: .28rem;
  text-align: center;
}
.sgq_banner .sgq_banner_info .sgq_banner_toutiao b {
  font-size: .24rem;
  vertical-align: middle;
}
.sgq_banner .sgq_banner_info .sgq_banner_info_con {
  float: left;
  width: 4.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #e2e7f1;
  height: 100%;
  font-size: .22rem;
  white-space: nowrap;
}
.sgq_banner .sgq_banner_info .sgq_banner_info_go {
  float: right;
}
.sgq_banner .sgq_banner_info .sgq_banner_info_go a {
  display: inline-block;
  vertical-align: middle;
  width: .4rem;
  height: .4rem;
  border-radius: 50%;
  line-height: .4rem;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
}
.sgq_train {
  background: #fff;
  padding-bottom: .4rem;
  padding-top: .64rem ;
}
.sgq_train .sgq_train_header {
  width: 3.96rem;
  height: 1.10rem;
  margin: 0 auto .56rem;
  background-repeat: no-repeat;
  background-size: 3.96rem 1.10rem;
}
.sgq_train .sgq_train_con {
  width: 7.02rem;
  padding: 0 .24rem;
}
.sgq_train .sgq_train_con ul {
  overflow: hidden;
}
.sgq_train .sgq_train_con ul li {
  width: 3.4rem;
  float: left;
}
.sgq_train .sgq_train_con ul li .sgq_train_title {
  width: 3.40rem;
  height: 1.16rem;
  background: #0369db;
  color: #fff;
  text-align: center;
  line-height: 1.16rem;
}
.sgq_train .sgq_train_con ul li .sgq_train_title span {
  display: inline-block;
  width: .56rem;
  height: .7rem;
  color: #fff;
  font-size: .56rem;
  line-height: .7rem;
  text-align: right;
  vertical-align: middle;
  margin-right: .10rem;
}
.sgq_train .sgq_train_con ul li .sgq_train_title p {
  display: inline-block;
  vertical-align: middle;
  line-height: .38rem;
  font-size: .3rem;
  text-align: left;
}
.sgq_train .sgq_train_con ul li .sgq_train_title p b {
  font-weight: normal;
}
.sgq_train .sgq_train_con ul li .sgq_train_info {
  border: 1px dashed #0369db;
  margin-top: .03rem;
  padding: .32rem .08rem .39rem;
}
.sgq_train .sgq_train_con ul li .sgq_train_info .sgq_train_miaoshu {
  padding: 0 .1rem;
  color: #666;
  font-size: .24rem;
}
.sgq_train .sgq_train_con ul li .sgq_train_info h3 {
  color: #0369db;
  font-size: .26rem;
  text-align: center;
  margin-top: .5rem;
  margin-bottom: .11rem;
}
.sgq_train .sgq_train_con ul li .sgq_train_info .sgq_train_shixun {
  text-align: justify;
}
.sgq_train .sgq_train_con ul li .sgq_train_info .sgq_train_shixun span {
  display: inline-block;
  border-radius: .19rem;
  height: .38rem;
  border: 1px solid #444;
  padding: 0 .15rem ;
  text-align: center;
  box-sizing: border-box;
  line-height: .38rem;
  margin-top: .14rem;
  font-size: .24rem;
}
.sgq_train .sgq_train_con ul li .sgq_train_info .sgq_train_shixun span:nth-child(2) {
  margin-right: 0;
}
.sgq_train .sgq_train_con ul li .sgq_train_info .sgq_train_shixun span:nth-child(4) {
  margin-right: 0;
}
.sgq_train .sgq_train_con ul li .sgq_train_info .sgq_train_xiangmu {
  padding-left: .38rem;
  margin-bottom: .6rem;
}
.sgq_train .sgq_train_con ul li .sgq_train_info .sgq_train_xiangmu h4 {
  color: #444;
  font-size: .24rem;
}
.sgq_train .sgq_train_con ul li .sgq_train_info .sgq_train_xiangmu p {
  color: #666;
  font-size: .2rem;
}
.sgq_train .sgq_train_con ul li .sgq_train_info .sgq_train_ban {
  padding-left: .38rem;
  margin-bottom: .4rem;
}
.sgq_train .sgq_train_con ul li .sgq_train_info .sgq_train_ban p {
  color: #777;
  font-size: .2rem;
}
.sgq_train .sgq_train_con ul li .sgq_train_info .sgq_train_ban p span {
  font-size: .24rem;
  color: #444;
}
.sgq_train .sgq_train_con ul li .sgq_train_info .sgq_train_btn {
  margin: 0 auto;
  width: 1.76rem;
  height: .7rem;
}
.sgq_train .sgq_train_con ul li .sgq_train_info .sgq_train_btn a {
  display: block;
  width: 1.76rem;
  height: .7rem;
  background-repeat: no-repeat;
  background-size: 1.76rem .7rem;
}
.sgq_train .sgq_train_con ul li:first-child {
  margin-right: .22rem;
}
.sgq_train .sgq_train_con ul li:last-child .sgq_train_title {
  background: #444;
  color: #fe6e20;
}
.sgq_train .sgq_train_con ul li:last-child .sgq_train_title span {
  width: .56rem;
  height: .7rem;
  color: #fe6e20;
}
.sgq_train .sgq_train_con ul li:last-child .sgq_train_info {
  border: 1px dashed #a0a0a0;
}
.sgq_train .sgq_train_con ul li:last-child .sgq_train_info h3 {
  color: #fe6e20;
}
.sgq_train .sgq_train_con ul li:last-child .sgq_train_info .sgq_train_btn a {
  background-repeat: no-repeat;
  background-size: 1.76rem .7rem;
}
.sgq_team {
  margin-bottom: .4rem;
}
.sgq_team .sgq_team_con {
  width: 7.02rem;
  padding: 0 .24rem;
  margin-top: .54rem;
}
.sgq_team .sgq_team_con ul li {
  background-repeat: no-repeat;
  background-size: cover;
  width: 3.4rem;
  float: left;
  margin-top: .8rem;
  margin-bottom: .5rem;
}
.sgq_team .sgq_team_con ul li .sgq_team_zhezhao {
  padding-top: 1px;
  background: rgba(0, 0, 0, 0.8);
  padding-bottom: .48rem;
}
.sgq_team .sgq_team_con ul li .sgq_team_zhezhao .sgq_team_pic {
  width: 1.55rem;
  height: 1.55rem;
  border: .05rem solid #fff;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: -0.8rem;
  background-repeat: no-repeat;
  background-size: 100%;
}
.sgq_team .sgq_team_con ul li .sgq_team_zhezhao .sgq_team_name {
  width: 2.64rem;
  margin: 0 auto;
  border-bottom: 1px dashed #959595;
  color: #fff;
  text-align: center;
  padding-top: .26rem;
}
.sgq_team .sgq_team_con ul li .sgq_team_zhezhao .sgq_team_name b {
  font-size: .26rem;
  line-height: .26rem;
}
.sgq_team .sgq_team_con ul li .sgq_team_zhezhao .sgq_team_name p {
  font-size: .22rem;
  line-height: .22rem;
  margin-top: .12rem;
  margin-bottom: .21rem;
}
.sgq_team .sgq_team_con ul li .sgq_team_zhezhao .sgq_team_jianjie {
  font-size: .24rem;
  color: #fff;
  width: 2.49rem;
  line-height: .34rem;
  height: 1.28rem;
  overflow: hidden;
  margin: 0 auto;
  margin-top: .4rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.sgq_team .sgq_team_con ul li .sgq_team_zhezhao .sgq_team_btn {
  margin: 0 auto;
  margin-top: .62rem;
  width: 1.9rem ;
  height: .46rem;
  border-radius: .23rem;
  border: 1px solid #d65f22;
  box-sizing: border-box;
  text-align: center;
  line-height: .46rem;
  font-size: .24rem;
  min-width: 85px;
  min-height: 20px;
}
.sgq_team .sgq_team_con ul li .sgq_team_zhezhao .sgq_team_btn a {
  display: block;
  width: 100%;
  height: 100%;
  color: #d65f22;
}
.sgq_team .sgq_team_con ul li:nth-child(2n+1) {
  margin-right: .22rem;
}
.sgq_team .sgq_team_con ul:after {
  content: "";
  display: block;
  clear: both;
}
.sgq_result {
  background: #fff;
  padding-bottom: .4rem;
}
.sgq_result .sgq_result_box {
  width: 7.02rem;
  height: 9.6rem;
  margin: 0 auto;
  margin-bottom: .53rem;
}
.sgq_result .sgq_result_box ul {
  height: 9.6rem;
}
.sgq_result .sgq_result_box ul li {
  height: 9.6rem;
}
.sgq_result .sgq_result_box ul li .sgq_result_zhanshi {
  overflow: hidden;
}
.sgq_result .sgq_result_box ul li .sgq_result_zhanshi .sgq_result_img,
.sgq_result .sgq_result_box ul li .sgq_result_zhanshi .sgq_result_info {
  float: left;
}
.sgq_result .sgq_result_box ul li .sgq_result_zhanshi .sgq_result_img {
  width: 2.66rem;
  height: 5.09rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: .45rem;
  margin-left: .45rem;
  position: relative;
}
.sgq_result .sgq_result_box ul li .sgq_result_zhanshi .sgq_result_img .sgq_result_video_box {
  width: 2.3rem;
  height: 3.9rem;
  overflow: hidden;
  position: absolute;
  top: .6rem;
  left: .15rem;
}
.sgq_result .sgq_result_box ul li .sgq_result_zhanshi .sgq_result_info {
  width: 3.45rem;
  padding-top: .4rem;
}
.sgq_result .sgq_result_box ul li .sgq_result_zhanshi .sgq_result_info h3 {
  font-weight: bold;
  font-size: .3rem;
  color: #111;
}
.sgq_result .sgq_result_box ul li .sgq_result_zhanshi .sgq_result_info p {
  font-size: .24rem;
}
.sgq_result .sgq_result_box ul li .sgq_result_zhanshi .sgq_result_info .sgq_result_banji {
  box-sizing: border-box;
  height: 1.1rem;
  padding-top: .15rem;
  padding-bottom: .2rem;
  line-height: .4rem;
}
.sgq_result .sgq_result_box ul li .sgq_result_zhanshi .sgq_result_info .sgq_result_banji span {
  color: #777777;
}
.sgq_result .sgq_result_box ul li .sgq_result_zhanshi .sgq_result_info .sgq_result_banji span b {
  color: #555555;
}
.sgq_result .sgq_result_box ul li .sgq_result_zhanshi .sgq_result_info .sgq_result_jieshao {
  border-top: 1px dashed #c9c9c9;
  padding-top: .28rem;
  color: #333;
  line-height: .4rem;
  height: 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.sgq_result .sgq_result_box ul li .sgq_result_zhanshi .sgq_result_info button {
  width: 2.46rem;
  height: .56rem;
  background: linear-gradient(#07aaeb, #046edc);
  border-radius: .28rem;
  border: 0;
  outline-style: none;
  min-width: 110px;
  min-height: 25px;
  line-height: .56rem;
  text-align: center;
  margin-top: .33rem;
}
.sgq_result .sgq_result_box ul li .sgq_result_zhanshi .sgq_result_info button a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: .24rem;
}
.sgq_result .sgq_result_box ul li .sgq_result_tuijian {
  margin-top: .44rem;
  overflow: hidden;
}
.sgq_result .sgq_result_box ul li .sgq_result_tuijian .sgq_result_tj1 {
  float: left;
  width: 2.76rem;
  height: 4.15rem;
  margin-right: .45rem;
  margin-left: .45rem;
}
.sgq_result .sgq_result_box ul li .sgq_result_tuijian .sgq_result_tj1 img {
  display: block;
  margin: 0 auto;
  width: 2.76rem;
  height: 3.67rem;
}
.sgq_result .sgq_result_box ul li .sgq_result_tuijian .sgq_result_tj1 p {
  text-align: center;
  font-size: .22rem;
  color: #555;
  line-height: .5rem;
}
.sgq_result .sgq_result_box ul li .sgq_result_tuijian .sgq_result_tj1:last-child {
  margin-right: 0;
}
.sgq_serve .sgq_serve_header {
  width: 4.08rem;
  height: 1.09rem;
  background-repeat: no-repeat;
  background-size: 4.08rem 1.09rem;
  margin: .6rem auto.56rem;
}
.sgq_serve .sgq_serve_con {
  text-align: center;
  padding-bottom: .33rem;
}
.sgq_serve .sgq_serve_con img {
  width: 5.49rem;
  height: 5.2rem;
}
.sgq_work {
  background: #fff;
  padding-bottom: .34rem;
}
.sgq_work .sgq_work_con .sgq_work_box {
  width: 6.1rem;
  height: 8.65rem;
  margin: 0 auto;
}
.sgq_work .sgq_work_con .sgq_work_box ul li .sgq_work_info {
  width: 2.8rem;
  height: 3.85rem;
  margin-bottom: .4rem;
  float: left;
}
.sgq_work .sgq_work_con .sgq_work_box ul li .sgq_work_info .sgq_work_img {
  width: 2.56rem;
  height: 1.92rem;
  position: relative;
}
.sgq_work .sgq_work_con .sgq_work_box ul li .sgq_work_info .sgq_work_img img {
  width: 2.56rem;
  height: 1.92rem;
}
.sgq_work .sgq_work_con .sgq_work_box ul li .sgq_work_info .sgq_work_img .sgq_work_pstu {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1.67rem;
  height: .4rem;
  background-repeat: no-repeat;
  background-size: contain;
}
.sgq_work .sgq_work_con .sgq_work_box ul li .sgq_work_info .sgq_work_stu {
  margin-top: .28rem;
}
.sgq_work .sgq_work_con .sgq_work_box ul li .sgq_work_info .sgq_work_stu h3 {
  font-size: .28rem;
  color: #111;
  font-weight: bold;
}
.sgq_work .sgq_work_con .sgq_work_box ul li .sgq_work_info .sgq_work_stu p {
  font-size: .22rem;
  color: #444;
  display: inline-block;
  border-bottom: 1px dashed #818181;
  padding-bottom: .1rem;
}
.sgq_work .sgq_work_con .sgq_work_box ul li .sgq_work_info .sgq_work_company {
  margin-top: .2rem;
}
.sgq_work .sgq_work_con .sgq_work_box ul li .sgq_work_info .sgq_work_company p {
  font-size: .22rem;
  color: #fe6e20;
}
.sgq_work .sgq_work_con .sgq_work_box ul li .sgq_work_info .sgq_work_company p span {
  font-size: .3rem;
  font-weight: bold;
}
.sgq_work .sgq_work_con .sgq_work_box ul li .sgq_work_info .sgq_work_company h6 {
  font-size: .22rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sgq_work .sgq_work_con .sgq_work_box ul li .sgq_work_info:nth-child(2n-1) {
  margin-right: .49rem;
}
.sgq_effect {
  width: 7.02rem;
  margin: 0 auto;
  padding-bottom: .67rem;
}
.sgq_effect .sgq_effect_con {
  text-align: center;
}
.sgq_effect .sgq_effect_con img {
  width: 6.9rem;
  height: 5.49rem;
}
.sgq_effect .sgq_effect_con p {
  text-align: center;
  font-size: .24rem;
  color: #444;
}
.sgq_effect .sgq_effect_con p span b {
  color: #e67030;
}
.sgq_news {
  background: #fff;
  padding-top: .53rem;
}
.sgq_news .sgq_public_item {
  margin-bottom: 0;
}
.sgq_news .sgq_public_item ul {
  float: right;
}
.sgq_news .sgq_public_item .sgq_news_title {
  font-size: .28rem;
  color: #111;
  font-weight: bold;
  float: left;
}
.sgq_news .sgq_public_item .sgq_news_title span {
  display: inline-block;
  width: .27rem;
  height: .31rem;
}
.sgq_news .sgq_public_item .sgq_pubulic_menu {
  margin-right: .25rem;
}
.sgq_news .sgq_public_item .sgq_pubulic_menu:last-child {
  margin-right: 0;
}
.sgq_news .sgq_news_box {
  width: 7rem;
  height: 8.92rem;
  margin: 0 auto;
}
.sgq_news .sgq_news_box .sgq_news_info {
  height: 2.23rem;
  border-bottom: 1px dashed #dcdcdc;
}
.sgq_news .sgq_news_box .sgq_news_info .sgq_news_img {
  float: left;
  position: relative;
}
.sgq_news .sgq_news_box .sgq_news_info .sgq_news_img a {
  display: block;
  margin-top: .35rem;
  width: 2rem;
  height: 1.5rem;
}
.sgq_news .sgq_news_box .sgq_news_info .sgq_news_img a img {
  width: 2rem;
  height: 1.5rem;
}
.sgq_news .sgq_news_box .sgq_news_info .sgq_news_img > img {
  position: absolute;
  top: .35rem;
  left: 0;
  width: .34rem;
  height: .14rem;
}
.sgq_news .sgq_news_box .sgq_news_info .sgq_news_xinxi {
  float: left;
  width: 4.73rem;
  margin-left: .26rem;
  margin-top: .35rem;
}
.sgq_news .sgq_news_box .sgq_news_info .sgq_news_xinxi h3 {
  line-height: .26rem;
}
.sgq_news .sgq_news_box .sgq_news_info .sgq_news_xinxi h3 a {
  color: #111;
  font-size: .26rem;
  font-weight: bold;
}
.sgq_news .sgq_news_box .sgq_news_info .sgq_news_xinxi p {
  font-size: .24rem;
  color: #333;
  margin-top: .24rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: .3rem;
}
.sgq_news .sgq_news_box .sgq_news_info .sgq_news_xinxi div span {
  font-size: .24rem;
  color: #666;
  display: inline-block;
  vertical-align: middle;
}
.sgq_news .sgq_news_box .sgq_news_info .sgq_news_xinxi div span a {
  color: #666;
  display: inline-block;
  vertical-align: middle;
}
.sgq_news .sgq_news_box .sgq_news_info .sgq_news_xinxi div .sgq_xian {
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  background: #666;
  height: .2rem;
  margin: 0 .18rem;
}
.sgq_knowlage {
  background: #fff;
  padding-top: .4rem;
  padding-bottom: .37rem;
}
.sgq_knowlage .sgq_news_title {
  font-size: .28rem;
  color: #111;
  font-weight: bold;
  float: left;
}
.sgq_knowlage .sgq_news_title span {
  display: inline-block;
  width: .27rem;
  height: .31rem;
}
.sgq_knowlage .sgq_knowlage_con {
  width: 7.02rem;
  margin: 0 auto;
  padding-left: .37rem;
}
.sgq_knowlage .sgq_knowlage_con ul {
  overflow: hidden;
}
.sgq_knowlage .sgq_knowlage_con li {
  float: left;
  width: 2.88rem;
}
.sgq_knowlage .sgq_knowlage_con li .sgq_knowlage_img img {
  width: 2.88rem;
  height: 2.16rem;
}
.sgq_knowlage .sgq_knowlage_con li p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #222;
  font-size: .22rem;
}
.sgq_knowlage .sgq_knowlage_con li:nth-child(2n+1) {
  margin-right: .47rem;
}
.sgq_join {
  height: 8.46rem;
}
.sgq_join .sgq_join_con {
  width: 6.34rem;
  height: 7.4rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin: .42rem auto;
  padding-top: 1px;
}
.sgq_join .sgq_join_con ul {
  padding-left: .7rem;
  padding-right: .7rem;
  padding-top: 2.18rem;
}
.sgq_join .sgq_join_con ul li {
  height: .85rem;
}
.sgq_join .sgq_join_con ul li p {
  float: left;
  width: 1.15rem;
  text-align: right;
  line-height: .85rem;
  font-size: .28rem;
  color: #fff;
}
.sgq_join .sgq_join_con ul li div {
  float: right;
  position: relative;
  height: .6rem;
  width: 3.65rem;
  border-radius: 5px;
  background: #fff;
  margin-top: .1rem;
}
.sgq_join .sgq_join_con ul li div input,
.sgq_join .sgq_join_con ul li div select {
  height: .6rem;
  width: 3.4rem;
  border-radius: 5px;
  border: 0;
  outline-style: none;
  font-size: .24rem;
  line-height: .85rem;
  padding-left: .25rem;
  box-sizing: content-box;
  color: #A9A9BB;
}
.sgq_join .sgq_join_con ul li div select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  line-height: .6rem;
  position: relative;
  z-index: 1;
}
.sgq_join .sgq_join_con ul li div span {
  display: block;
  border-top: .15rem solid #A9A9BB;
  border-left: .09rem solid transparent;
  border-right: .09rem solid transparent;
  width: 0;
  position: absolute;
  right: .17rem;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 0;
}
.sgq_join .sgq_join_con ul li div i {
  display: block;
  width: 0;
  position: absolute;
  right: .48rem;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: .4rem;
  border-left: 1px dashed #A9A9BB;
}
.sgq_join .sgq_join_con ul li div select::-ms-expand {
  display: none;
}
.sgq_join .sgq_join_con .sgq_join_btn {
  font-size: .24rem;
  margin-top: .5rem;
  text-align: justify;
  padding: 0 .63rem;
}
.sgq_join .sgq_join_con .sgq_join_btn input {
  color: #222;
  background: #fff;
  border: 0;
  width: 2.26rem;
  height: .6rem;
  border-radius: .3rem;
  vertical-align: middle;
}
.sgq_join .sgq_join_con .sgq_join_btn a {
  display: inline-block;
  color: #fff;
  background: #fe6e20;
  border: 0;
  width: 2.26rem;
  height: .6rem;
  border-radius: .3rem;
  line-height: .6rem;
  vertical-align: middle;
  text-align: center;
}
.sgq_join .sgq_join_con .sgq_join_btn:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.sgq_backTop {
  background: #dcdcdc;
  text-align: center;
  height: .72rem;
  font-size: .24rem;
  color: #fff;
  line-height: .72rem;
}
.sgq_footer {
  height: 5.55rem;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  margin-top: .68rem;
  position: relative;
}
.sgq_footer .sgq_footer_con {
  height: 4rem;
}
.sgq_footer .sgq_footer_con .sgq_footer_box {
  width: 3.15rem;
  float: right;
  margin-right: .6rem;
  text-align: center;
  letter-spacing: 3px;
}
.sgq_footer .sgq_footer_con .sgq_footer_box h1 {
  font-size: .46rem;
  color: #0f0f0f;
  font-weight: bold;
  margin-bottom: .05rem;
}
.sgq_footer .sgq_footer_con .sgq_footer_box p {
  font-size: .24rem;
  color: #555;
}
.sgq_footer .sgq_footer_con .sgq_footer_box .sgq_footer_goal {
  font-size: .32rem;
  color: #3b3b3b;
  font-weight: bold;
  margin-bottom: .12rem;
}
.sgq_footer .sgq_footer_con .sgq_footer_box .sgq_footer_goal span {
  vertical-align: middle;
}
.sgq_footer .sgq_footer_con .sgq_footer_box .sgq_footer_goal i {
  display: inline-block;
  width: 2px;
  height: 2px;
  background: #3b3b3b;
  vertical-align: middle;
  margin: 0 .06rem;
}
.sgq_footer .sgq_footer_con .sgq_footer_box .sgq_footer_tel {
  letter-spacing: -1px;
  margin-bottom: .2rem;
}
.sgq_footer .sgq_footer_con .sgq_footer_box .sgq_footer_tel span {
  font-weight: bold;
}
.sgq_footer .sgq_footer_con .sgq_footer_box .sgq_footer_ewm {
  margin-bottom: .08rem;
}
.sgq_footer .sgq_footer_con .sgq_footer_box .sgq_footer_ewm img {
  width: 1.87rem;
  height: 1.86rem;
}
.sgq_footer .sgq_footer_con .sgq_footer_box .sgq_footer_hao {
  letter-spacing: normal;
}
.sgq_footer .sgq_footer_copy {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  padding-bottom: .2rem;
  font-size: .18rem;
}
.sgq_footer .sgq_footer_copy p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}
.sgq_public_header {
  text-align: center;
  margin-bottom: .54rem;
}
.sgq_public_header h2 {
  font-size: .36rem;
  color: #222;
  line-height: .48rem;
  padding-top: .52rem;
}
.sgq_public_header p {
  font-size: .24rem;
  color: #2a2a2a;
  line-height: .46rem;
}
.sgq_public_header div {
  display: inline-block;
  width: .2rem;
  height: 1px;
  background: #0369db;
  margin-top: .15rem;
}
.sgq_public_item {
  width: 7.02rem;
  margin: 0 auto;
  height: .52rem;
  border-bottom: 1px solid #b5b5b5;
  margin-bottom: .44rem;
}
.sgq_public_item ul {
  height: .52rem;
}
.sgq_public_item ul li {
  line-height: .52rem;
  border-bottom: 2px solid transparent;
  text-align: center;
  float: left;
  margin-right: .56rem;
  font-size: .24rem;
  color: #404040;
}
.sgq_public_item ul .sgq_public_info.hot {
  border-bottom: 2px solid #fe6e20;
}
.sgq_public_item ul li:last-child {
  margin-right: 0;
}
.sgq_public_item ul .hot {
  border-color: #0369db;
  font-weight: bold;
  color: #0369db;
}
.sgq_public_item ul a {
  color: #fe6e20;
}
.sgq_public_item > a {
  float: right;
  font-size: .22rem;
  color: #777;
  margin-top: .1rem ;
  margin-right: .4rem;
}
.sgq_public_item > div {
  float: left;
}
.sgq_public_more {
  margin: 0 auto;
  width: 3.35rem;
  height: .65rem;
  background: #fe6e20;
  border-radius: .15rem;
  line-height: .65rem;
  font-size: .24rem;
}
.sgq_public_more a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
}
